<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter Clone - Final</title>
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <input type="text" hidden name="id" id="id">
  <div class="whole-web">
    <div class="container">


      <div class="flexdata">


        <!-- sidebar starts -->
        <%-include("staticpart1")-%>
      </div>
      <!-- sidebar ends -->

      <!-- feed starts -->
      <div class="feed">



        <div class="feed__header">
          <div class="header" id="myHeader">





            <div class="unameandarroo">


              <div onclick="history.back()" class="arrowicon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                  width="32" height="32" viewBox="0 0 256 256" xml:space="preserve">

                  <defs>
                  </defs>
                  <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                    transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                    <polygon points="65.36,0 69.64,4.28 28.92,45 69.64,85.72 65.36,90 20.36,45 "
                      style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                      transform="  matrix(1 0 0 1 0 0) " />
                  </g>
                </svg>
              </div>

              <div>

                <h2> Tulsi Dholariya </h2>
                <p class="lighttxt">
                  1 Tweet
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- tweetbox starts -->
        <div class="feed-contain">
          <div class="mainprofile">


            <div class="card">
              <div class="card_background_img">

              </div>
              <div class="card_profile_img">

              </div>
              <div class="user_details">
                <div class="unameinpro">

                  <h3>Tulsi Dholariya</h3>
                  <h4>@tulsi_dholariya</h4>
                </div>


                <div class="editpro">
                  <a  href="/prof/profedit" class="editproa"> Edit Profile </a>
                </div>
              </div>

              <div class="follow">
                <div class="flexthisdata">
                  <div class="lfmargin">

                    <img width="20" src="/public/files/1a83c828b67134a9b2ab348a0fb5d807" alt="calander">
                  </div>
                  <div class="joindate">

                    <h4>&nbsp&nbsp&nbspjoined March @2023</h4>
                  </div>
                </div>
                <div class="flexthisdata">
                  <div class="lfmargin">
                    <h4> <%=count%> <a href="/list/following">Following</a>&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp </h4>
                  </div>
                  <div>
                    <h4><%=f%><a href="/list/follower"> Followers</a></h4>
                  </div>


                </div>
              </div>
            </div>

          </div>

          <!-- tweetbox ends -->

          <!-- post starts -->
          <div class="post">


            <div class="post-child">
              <div class="flexdatatwit">


                <div class="twitimg">

                  <img width="32px" class="tweetimg1" src="/public/files/1a83c828b67134a9b2ab348a0fb5d807" alt="img">
                </div>



                <div class="nameandtime">

                  <div class="flex1">

                    <div class="tweetname">

                      <h5 class="tweetnamed">
                        Tulsi Dholariya
                      </h5>
                    </div>
                    <div class="tweetid">
                      <h5 class="tweetidd">
                        @tulsi_dholariya
                      </h5>
                    </div>
                    <div class="tweettime">
                      <h5 class="tweettimed">
                        6hr
                      </h5>
                    </div>


                  </div>
                  <div class="tweetdatamain">

                    <h5 class="tweetdatatxt">
                      <%
                        const array_of_allowed_files = ['png', 'jpeg', 'jpg'];
                        const array_of_allowed_videos = ['mp4','gif'];
                    %>
                    <% for(var i=0;i<data.length;i++) { %>
                            <p id="count"><%=data.length%></p>
                            <div>
                                    <div>
                                        <div>
                                            <p class="skill"><%=data[i].description%></p>
                                            <p class="skill"><%=data[i].description%></p>
                                            <%  if(data[i].media_url==null) {   
                                                console.log("nothing")
                                             }else{ 
                                            %>
                                            <%  const file_extension = data[i].media_url.slice(((data[i].media_url.lastIndexOf('.') - 1) >>> 0) + 2);
                                                if (array_of_allowed_files.includes(file_extension)) {
                                            %>
                                            <img id="tweet_img" width="50%" src="<%=data[i].media_url%>" />
                                            <div>
                                              <div class="insta">
                                                  <div class="icon_row">
                                                      <i id="heart1" class="fa fa-thumbs-up" onclick="likepost()"></i>
                                                      <p>10</p>
                                                    <div class="icon_row">
                                                      <div class="icon_col">
                                                          <a href=""><i  class="fas fa-comment"></i></a>
                                                          <p>10</p>
                                                      </div>
                                                      
                                                    <div class="icon_row">
                                                      <div class="icon_col">
                                                          <a href=""><i class="fa fa-retweet"></i></a>
                                                    <p>10</p>
                                                      </div>
                                                     
                                                  </div>
                                                 
                                               </div>
                                          </div>
                                            <% }else{ %>
                                                <video width="320" height="240" controls>
                                                    <source src="<%=data[i].media_url%>" type="video/mp4">
                                                </video>
                                                <div>
                                                  <div class="insta">
                                                      <div class="icon_row">
                                                          <i id="heart<%=i%>" class="fa fa-thumbs-up" onclick="likepost()"></i>
                                                          <p>10</p>
                                                        <div class="icon_row">
                                                          <div class="icon_col">
                                                              <a href=""><i  class="fas fa-comment"></i></a>
                                                              <p>10</p>
                                                          </div>
                                                          
                                                        <div class="icon_row">
                                                          <div class="icon_col">
                                                              <a href=""><i class="fa fa-retweet"></i></a>
                                                        <p>10</p>
                                                          </div>
                                                         
                                                      </div>
                                                     
                                                   </div>
                                              </div>
                                            <% }}%>
                                            
                                        </div>
                                    </div>
                      
                            </div>
                        </div>
                        </div>
                        
                   <% } %>
                    </h5>
                  </div>
                </div>
              </div>
            </div>


          </div>



        </div>
      </div>


      <!-- feed ends -->

      <!-- widgets starts -->
      <div class="widgets">
  <%-include("staticpart2")-%>
      </div>
    </div>
  </div>
  <!-- widgets ends -->
  </div>
  <dialog id="moreoption">
    <div class="manubar">
      <a class="achange" href="/changepassword/changepassword"> Change Password</a>
      <a class="achange" id="deleteac" onclick="deleteac()">Delete Account</a>
      <a class="achange" id="logoutac" onclick="logoutac()">Logout</a>

      <p class="cancel" onclick="dataout()">cancle</p>
    </div>
  </dialog>
  <script>

    function dataopt() {

      var data1 = document.getElementById('moreoption')
      data1.showModal()
    }
    function dataout() {
      var data1 = document.getElementById('moreoption')
      data1.close()
    }








    window.onscroll = function () { myFunction() };

    var header = document.getElementById("myHeader");


    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }








    async function del(abc) {
      x = parseInt(abc)
      console.log(x)

      var text = "you really want to delte this record" + x;
      if (confirm(text) == true) {
        text = "you really want to delte this record", x;
        fetch('/delete?id=' + x, {
          method: 'post',
          headers: {
            "Content-type": 'application/json'
          },
          body: JSON.stringify({
            id: x
          })
        })

          .then(res => res.json())
          .then(data => {
            document.getElementById(x).style.display = 'none';
            //console.log(data.result.length);
            console.log(data)
            console.log("data delete sucesfully!!!!")
            location.reload()
          })
      }
    }


    // var likeobj = 0;
    var count = 0
    var flag = true
    function likepost() {
      var count2=document.getElementById("count").innerHTML
      console.log(count2)
        var z=document.getElementById('heart1')
        count=1
        
        if(flag==true){
            z.style.color='red'
          flag=false;
        }else{
          z.style.color='#e0e2e4'
          flag=true;
        }
    }
















    function dataopt() {

var data1 = document.getElementById('moreoption')
data1.showModal()
}
function dataout() {
var data1 = document.getElementById('moreoption')
data1.close()
}








window.onscroll = function () { myFunction() };

var header = document.getElementById("myHeader");


var sticky = header.offsetTop;

function myFunction() {
if (window.pageYOffset > sticky) {
  header.classList.add("sticky");
} else {
  header.classList.remove("sticky");
}
}


function logoutac() {


if (confirm("are your sure to logout") == true) {
      fetch(`/logout/logout`)
      location.assign(`/login/login/index5`)
      console.log("delete")
} else {
      alert("you cancel the delete");
}

}


async function deleteac() {

if (confirm("are your sure to Delete Account") == true) {
 const data=   await  fetch(`/deleteAccount/delete`);
 const data2 = await data.json();
 console.log(data2);
      window.location.href="/login/login/index5"
      console.log(data2);
} else {
      alert("you cancel the delete");
}

}


// var likeobj = 0;
var count=0
var flag=true
function likepost() {
  var z=document.getElementById('heart1')
  count=1
  
  if(flag==true){
      z.style.color='red'
    flag=false;
  }else{
    z.style.color='#e0e2e4'
    flag=true;
  }
}
  </script>
</body>

</html>